html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in width and height */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

*, *::before, *::after {
    box-sizing: inherit; /* Inherit box-sizing from html element */
}

.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(51, 83, 58);
    padding: 10px;
    color: white;
    width: 100%;
    box-sizing: border-box; /* Include padding in the width */
}

.logo {
    flex: 1; /* Allow logo to grow and shrink */
}

.menu-toggle {
    display: none; /* Initially hide menu toggle button */
    cursor: pointer;
}

.links-middle {
    display: flex;
}

.links-middle a {
    padding: 20px;
    color: white;
    text-decoration: none;
}

.right-links {
    margin-left: auto;
}

.right-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.right-links .btn {
    background-color: white;
    color: rgb(22, 22, 253);
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(22, 22, 253);
    width: 100%;
    padding: 10px;
    display: none;
}

.dropdown-menu a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block; /* Show menu toggle button */
    }

    .links-middle {
        display: none; /* Hide links */
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgb(51, 83, 58);
        border-bottom-right-radius: 10px;
        width: 20%;
        padding: 10px;
        display: none;
    }

    .dropdown-menu.show {
        display: block; /* Show dropdown menu when .show class is added */
    }
}

.logoS {
    width: 100px;
}

/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(51, 83, 58);
    color: white;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    box-sizing: border-box; /* Include padding in the width */
}

.icon-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    color: white;
}

li {
    list-style: none;
    margin: 0 10px; 
}
