body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f7f7f7;
}
.container {
    width: 90%;
    margin: auto;
}
h1, h2 {
    text-align: center;
    color: #333;
}
.poule-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.poule {
    width: 48%;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.poule h2 {
    background-color: rgb(51, 83, 58);
    color: white;
    margin: 0;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.poule table {
    width: 100%;
    border-collapse: collapse;
}
.poule th, .poule td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.schedule {
    margin-top: 40px;
}
.schedule h2 {
    background-color: rgb(116, 214, 137);
    color: white;
    padding: 10px;
}
.schedule table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
}
.schedule th, .schedule td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.schedule th {
    background-color: rgb(116, 214, 137);
}
.input-goals {
    width: 40px;
    text-align: center;
        border-radius: 25px;
        border: 2px solid #73AD21;
        padding: 5px;
        width: 40px;
        height: 20px;
    }

